{% extends "base.html" %}
{% block title %}Iniciar sesión - Mi Mentor{% endblock %}

{% block content %}
<style>
    .login-container {
        max-width: 450px;
        margin: 5% auto;
        background-color: #f8f9fa;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .login-logo {
        text-align: center;
        margin-bottom: 30px;
    }
    .login-logo img {
        width: 100px;
    }
    .login-header {
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        margin-bottom: 30px;
        color: #8eb015ff;
    }
    .login-button {
        background-color: #8eb015ff;
        border: none;
        color: white;
        font-size: 16px;
        width: 100%;
        padding: 12px;
        border-radius: 5px;
        margin-top: 20px;
    }
    .login-button:hover {
        background-color: #7ca30f;
    }
    .forgot-password {
        text-align: center;
        margin-top: 10px;
    }
    .forgot-password a {
        color: #8eb015ff;
        text-decoration: none;
    }
    .forgot-password a:hover {
        text-decoration: underline;
    }
</style>

<div class="login-container">
    <div class="login-logo">
        <img src="{{ url_for('static', filename='images/logo_mimentor.jpg') }}" alt="Logo de Mi Mentor de Inversión" class="img-fluid">
    </div>
    <div class="login-header">
        Iniciar sesión
    </div>
    <form method="POST" action="/login">
        <div class="form-group">
            <label for="correo" class="form-label">Correo Electrónico</label>
            <input type="email" id="correo" name="correo" class="form-control" placeholder="Introduce tu correo" required>
        </div>
        <!-- Campo de contraseña -->
    <div class="form-group mt-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Introduce tu contraseña" required>
    </div>
        <button type="submit" class="btn login-button">Iniciar sesión</button>
    </form>
    <div class="forgot-password">
        <a href="#">¿Olvidaste tu contraseña?</a>
    </div>
</div>
{% endblock %}
